:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ebdcdc;

}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.selectedPokemonInfo {
  text-align: center;
  background-color: #76c3f0;
  padding: 10px;
  border-radius: 8px;
  border: solid 2px rgb(95, 122, 153);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  margin-right: 20px;
  margin-left: 20px;
  position: fixed;
  margin-top: 18%;
  padding-right: 30px;
  padding-left: 30px;
  left: 82%;
  top: 0;
  z-index: 1000; 
}

.selectedPokemonInfo img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  
}

.selectedPokemonInfo p {
  margin: 5px 0;
  text-align: center;
}

.selectPokemonIn {

  margin: 10px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
 
}

.cont {
  
  justify-content: right;
  position: fixed;
padding-top: 20px;
  left: 89%;
top : 75%
}




